.App {
  font-family: 'Baloo Bhaijaan 2', cursive;
  margin-top:-25px;
}

.ProductList {
  margin-left: 21%;

}

.FavoriteList {
  margin-left: 60%;
}

.Product {
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width:50%;

}

table,td{
    border:1px solid black;
    border-collapse: collapse;
  
}


span{
  margin-right:-100%;
  margin-left:80%;
}


@media only screen and (max-width: 600px) {
  body {
    background-color:white;
  }
 .Product{
  display: flex;
  align-items: center;
  margin-bottom: 10px;
  width:30px;
 }
 h3{
   font-size: 20px;
   display:flex;
 }

 span{
  margin-right:-80%;
  margin-left:50%;
}

table,td{
  border:1px solid black;
  border-collapse: collapse;
  margin-left:10px ;
}
}



